
$scope.ratingsInfo;
<!-- where ratingsInfo is all the data of ratings table -->
$scope.updateRatings=function(rid,workerUsername,index){
    console.log(rid);

    var ele = document.getElementsByName(rid); 
    for(i = 0; i < ele.length; i++) { 
        if(ele[i].checked) {
            $scope.ratingsValue=ele[i].value; 
            $http.get("../process/citizen-updateRatings.php?username="+workerUsername+"&rating="+$scope.ratingsValue+"&rid="+rid).then(ok,notok);
            function ok(response){
                if(response.data=="ok"){
                    $scope.ratingsInfo.splice(index,1);
                }
            }
        }
    }

}




<table>
    <tr>
        <th>RID</th>
        <th>Worker Name</th>
        <th>Ratings</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="obj in ratingsInfo">
        <td>{{obj.rid}}</td>
        <td>{{obj.workerUsername}}</td>
        <td>
            <form>
        <div class="rating">
            <input type="radio" name={{obj.rid}} class="hide" id="star5-{{obj.rid}}" value="5"><label for="star5-{{obj.rid}}">&#9734;</label>
            <input type="radio" name={{obj.rid}} class="hide" id="star4-{{obj.rid}}" value="4"><label for="star4-{{obj.rid}}">&#9734;</label>
            <input type="radio" name={{obj.rid}} class="hide" id="star3-{{obj.rid}}" value="3"><label for="star3-{{obj.rid}}">&#9734;</label>
            <input type="radio" name={{obj.rid}} class="hide" id="star2-{{obj.rid}}" value="2"><label for="star2-{{obj.rid}}">&#9734;</label>
            <input type="radio" name={{obj.rid}} class="hide" id="star1-{{obj.rid}}" value="1"><label for="star1-{{obj.rid}}">&#9734;</label>
        </div>
        </form>
        </td>
        <td>
            <button ng-click="updateRatings(obj.rid,obj.workerUsername,$index);">Update</button>
        </td>
    </tr>
</table>